/* GENERAL */

:root {
  --color-bg-general: #f4f4f4;
  --color-bg-main: white;
  --color-bg-results: #f0f8ff;
  --color-bg-results-txt: white;
  --color-bg-scores: #c5bcf5;
  --color-bg-btn-new-game: #897cff;
  --color-bg-btn-rock: #FFB6C1;
  --color-bg-btn-rock-hover: #FF9999;
  --color-bg-btn-paper: #FFDAB9;
  --color-bg-btn-paper-hover: #FFCBA4;
  --color-bg-btn-scissors: #ADD8E6;
  --color-bg-btn-scissors-hover: #87CEEB;
  --color-txt-buttons: white;
  --color-txt-general: #4d4c4c;
  --color-txt-score: white;
  --color-border: #ccc;
  --color-box-shadow: rgba(0, 0, 0, 0.1);

  --font-size-base: 1rem;
  --font-size-small: 0.9rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.6rem;
  --font-size-xlarge: 2em;

  --spacing-small: 0.6rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;

  --border-radius-small: 0.25rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 1rem;

  --box-shadow-small: 0 0.1rem 0.2rem var(--color-box-shadow);
  --box-shadow-medium: 0 0.25rem 0.5rem var(--color-box-shadow);
}

.display-none {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  height: 100dvh;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--color-bg-general);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  width: clamp(350px, 100%, 500px);
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  background-color: var(--color-bg-main);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow-medium);
}

/* START BANNER */

.banner-image-wrapper {
  display: flex;
  gap: var(--spacing-large);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-start {
  max-width: 350px;
}

.new-game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-game-container-removed {
  visibility: hidden;
}

/* GAME CONTAINER */

@media (min-width: 376px) {
  .img-play {
      max-width: clamp(200px, 80%, 350px);
  }
}

@media (max-width: 375px) {
  .img-play {
      display: none;
  }
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--spacing-medium);
}

.game-container-removed {
  display: none;
}

.results-container {
  display: flex;
  flex-direction: column;
  width: clamp(350px, 100%, 400px);
  gap: var(--spacing-medium);
  padding: var(--spacing-large);
  background-color: var(--color-bg-results);
  border-radius:var(--border-radius-medium);
  border: 1px solid var(--color-border);
  /* Make line breaks (/n) display in results texts, https://developer.mozilla.org/en-US/docs/Web/CSS/white-space */
  white-space: pre-wrap;
}

.results-container-removed {
  display: none;
}

.scores-container {
  display: flex;
  justify-content: space-around;
  font-size: var(--font-size-large);
  text-align: center;
}

.score-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-header {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--color-txt-general);
  margin-bottom: var(--spacing-small);
}

.results-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: clamp(var(--font-size-small),var(--font-size-base),var(--font-size-medium));
  color: var(--color-txt-general);
  /* Set a minimum height for the results text to avoid unexpected resizing (2 lines to 3 lines) */
  min-height: 100px;
  background-color: var(--color-bg-results-txt);
  padding: var(--spacing-medium);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-small);
  max-width: 100%;
}

.choice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75px;
}

.choice-container-removed {
  display: none;
}

.choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spacing-medium);
}

.next-round-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75px;
}

.next-round-container-removed {
  display: none;
}

/* ALL BUTTONS */

button {
  flex: 1;
  padding: var(--spacing-small);
  font-size: clamp(var(--font-size-base), var(--font-size-medium), var(--font-size-large));
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  color: var(--color-txt-general);
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: translateY(-2px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 20%;
}

button:disabled:hover {
  background-color: initial;
  transform: none;
}

/* SPECIFIC BUTTONS */

.new-game-button,
.next-round-button {
  background-color: var(--color-bg-btn-new-game);
  color: var(--color-bg-main);
  padding: var(--spacing-small);
  max-height: 50px;
  max-width: 200px;
  width: 100%;
}

.choice-button {
  font-size: clamp(1rem,1.1rem,1.2rem);
  font-weight: 600;
}

.rock-button {
  background-color: var(--color-bg-btn-rock);
}

.rock-button:hover {
  background-color: var(--color-bg-btn-rock-hover);
}

.paper-button {
  background-color: var(--color-bg-btn-paper);
}

.paper-button:hover {
  background-color: var(--color-bg-btn-paper-hover);
}

.scissors-button {
  background-color: var(--color-bg-btn-scissors);
}

.scissors-button:hover {
  background-color: var(--color-bg-btn-scissors-hover);
}

/* ANIMATED SCORES */

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.human-score,
.computer-score {
  font-size: var(--font-size-xlarge);
  color: var(--color-txt-score);
  background-color: var(--color-bg-scores);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  width: 95px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 80px;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.human-score::before,
.computer-score::before {
  top: -0.6rem;
  border-bottom: 2px solid white;
}

.human-score::after,
.computer-score::after {
  bottom: -0.5rem;
  border-top: 2px solid white;
}

.human-score.updating,
.computer-score.updating {
  animation: fade-out 0.5s forwards;
}

.human-score.new,
.computer-score.new {
  animation: fade-in 0.5s forwards;
}

/* FOOTER */

.footer {
  color: var(--color-txt-general);
  font-size: var(--font-size-small);
  display: flex;
  width: 100%;
  padding: var(--spacing-medium);
  gap: var(--spacing-large);
  align-items: center;
  justify-content: center;
}

.footer-removed {
  display:none;
}