/* GENERAL */

.display-none {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  height: 100dvh;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: clamp(350px, 100%, 500px);
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* START BANNER */

.banner-image-wrapper {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-start {
  max-width: 350px;
}

.img-play {
  max-width: clamp(200px,70%,350px);
}

.new-game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-game-container-removed {
  visibility: hidden;
}

/* GAME CONTAINER */

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.game-container-removed {
  display: none;
}

.results-container {
  display: flex;
  flex-direction: column;
  width: clamp(350px, 100%, 400px);
  /* Prevent resizing when divs change within the container */
  gap: 1rem;
  padding: 1.6rem;
  background-color: #f0f8ff;
  border-radius: 0.6rem;
  border: 1px solid #ccc;
  /* Make line breaks (/n) display in results texts, https://developer.mozilla.org/en-US/docs/Web/CSS/white-space */
  white-space: pre-wrap;
}

.results-container-removed {
  display: none;
}

.scores-container {
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  text-align: center;
}

.score-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #666666;
  margin-bottom: 0.4rem;
}

.results-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: clamp(0.9rem,1.1rem,1.2rem);
  color: #333;
  min-height: 100px;
  /* Set a minimum height for the results text to avoid unexpected resizing (2 lines to 3 lines) */
  background-color: #f9f9f9;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.choice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75px;
}

.choice-container-removed {
  display: none;
}

.choices {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
}

.next-round-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75px;
}

.next-round-container-removed {
  display: none;
}

/* ALL BUTTONS */

button {
  flex: 1;
  padding: 0.7rem;
  font-size: clamp(1rem,1.2rem,1.3rem);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #575757;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: translateY(-2px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 20%;
}

button:disabled:hover {
  background-color: initial;
  transform: none;
}

/* SPECIFIC BUTTONS */

.new-game-button,
.next-round-button {
  /* font-size: clamp(1rem, 1.1rem, 1.2rem); */
  background-color: #897cff;
  color: white;
  padding: 0.7rem;
  max-height: 50px;
  max-width: 200px;
  width: 100%;
}

.choice-button {
  font-size: clamp(1rem,1.1rem,1.2rem);
  font-weight: 600;
}

.rock-button {
  background-color: #FFB6C1;
}

.rock-button:hover {
  background-color: #FF9999;
}

.paper-button {
  background-color: #FFDAB9;
}

.paper-button:hover {
  background-color: #FFCBA4;
}

.scissors-button {
  background-color: #ADD8E6;
}

.scissors-button:hover {
  background-color: #87CEEB;
}

/* ANIMATED SCORES */

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.human-score,
.computer-score {
  font-size: 2em;
  color: white;
  background-color: #c5bcf5;
  padding: 0.6rem 1.2rem;
  border-radius: 0.7rem;
  width: 95px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 80px;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.human-score::before,
.computer-score::before {
  top: -0.6rem;
  border-bottom: 2px solid white;
}

.human-score::after,
.computer-score::after {
  bottom: -0.5rem;
  border-top: 2px solid white;
}

.human-score.updating,
.computer-score.updating {
  animation: fade-out 0.5s forwards;
}

.human-score.new,
.computer-score.new {
  animation: fade-in 0.5s forwards;
}

/* FOOTER */

.footer {
  color: #585858;
  font-size: 0.9rem;
  display: flex;
  width: 100%;
  padding: 1rem;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.footer-removed {
  display:none;
}