/* Hide while keeping space */
.hidden {
  visibility: hidden;
}

/* Hide and remove the space */
.display-none {
  display: none;
}

/* General Styles */

html, body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-start {
  width: 350px;
}

#start-container {
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}

#game-container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

h2 {
  margin: 0;
  color: #555;
  text-align: center;
}

#choice-buttons-wrapper {
  min-height: 105px;
}

#next-round-wrapper {
  min-height: 105px;
}

#choice-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.choice-button {
  color: #353535;
  font-weight: 600;
}

button {
  flex: 1;
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #575757;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: translateY(-2px);
}

/* Specific button colors */
#rock-button {
  background-color: #FFB6C1; /* Pastel Pink */
}

#rock-button:hover {
  background-color: #FF9999; /* Slightly darker pastel pink for hover effect */
}

#paper-button {
  background-color: #FFDAB9; /* Pastel Orange */
}

#paper-button:hover {
  background-color: #FFCBA4; /* Slightly darker pastel orange for hover effect */
}

#scissors-button {
  background-color: #ADD8E6; /* Pastel Blue */
}

#scissors-button:hover {
  background-color: #87CEEB; /* Slightly darker pastel blue for hover effect */
}

#new-game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-game-button, #next-round-button {
  background-color: #897cff;
  color: white;
  padding: 15px;
  max-width: 200px; /* Adjust the max-width as needed */
  width: 100%; /* Ensure the button maintains its size proportion */
}

#new-game-button:hover {
  background-color: #897cff;
}

/* Disable hover effects for disabled buttons */
button:disabled {
  cursor: not-allowed;
  opacity: 20%;
}

button:disabled:hover {
  background-color: initial;
  transform: none;
}

#results-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 10px;
  border: 1px solid #ccc;
  white-space: pre-line;
}

#next-round-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#round-number {
  text-align: center;
  color: rgb(83, 83, 83);
}

#scores {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
}

#scores div {
  text-align: center;
}

#human-score-container,
#computer-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#human-score-header,
#computer-score-header {
  font-size: 0.7em;
  font-weight: bold;
  color: #666666;
  margin-bottom: 5px;
}

/* Add animation keyframes */
@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#human-score,
#computer-score {
  font-size: 2em;
  color: white;
  background-color: #c5bcf5;
  padding: 10px 20px;
  border-radius: 10px;
  width: 60px;
  text-align: center;
  position: relative;
  overflow: hidden;
  line-height: 1em;
  height: 1em;
  /* Ensures vertical centering */
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#human-score::before,
#computer-score::before,
#human-score::after,
#computer-score::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background: #0e55a1;
  left: 0;
}

#human-score::before,
#computer-score::before {
  top: -10px;
  border-bottom: 2px solid white;
}

#human-score::after,
#computer-score::after {
  bottom: -10px;
  border-top: 2px solid white;
}

#human-score.updating,
#computer-score.updating {
  animation: fade-out 0.5s forwards;
}

#human-score.new,
#computer-score.new {
  animation: fade-in 0.5s forwards;
}

#results-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  color: #333;
  min-height: 100px;
  /* Set a minimum height for the results text */
  background-color: #f9f9f9;
  /* Light background color */
  padding: 10px;
  /* Padding around the text */
  border: 1px solid #ccc;
  /* Border to separate it */
  border-radius: 5px;
  /* Rounded corners */
  /* Space above the results text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  max-width: 100%;
}

@media (max-width: 480px) {
  #main-container {
    height: 100%;
  }

  .img-play {
    display: none;
  }

  button {
    font-size: 0.9em;
  }

  #new-game-button, #next-round-button {
    font-size: 1em;
  }

  #scores {
    font-size: 1.3em;
  }

  #results-container {
    height: 100%;
    min-width: 300px;
  }
  
  #results-text {
    font-size: 1em;
  }
}

@media (min-width: 480px) {
  #main-container {
    height: 100vh;
    min-width: 400px;
  }

  #results-container {
    width: 90%;
    min-width: 350px;
  }

  .img-play {
    width: 350px;
  }

}